---
layout: default
title: people
description:
featured_image:
---

<div class="page-blog">
	<header class="listing other-stuff">
		<div class="wrap">
			<div class="title">
				<h1 class="wavy-underline">people</h1>
				<h4><strong>Squiggly River only exists because of the wonderful people who contribute:</strong></h4>
			</div>
		</div>
	</header>


	<section class="listing">
		<div class="project__grid">
			{% for person in site.data.people %}

			{% if person.accent_color %}{% capture accent_color %}{{ person.accent_color }}{% endcapture %}{% endif %}

			<div class="project__preview">
				
				<div class="project__images owl-carousel" style="--accent: {{ accent_color }}">
					{% for image in person.gallery_images %}
					<img src="{{ '/images/people/' | relative_url}}{{ image }}" alt="" class="project__image">
					{% endfor %}
				</div>

				<h4 class="project__title">{{ person.name }}</h4>

				<div class="project__content" style="border-color: {{ accent_color }}">
					<p class="project__subtitle subtitle--light">{{ person.pronouns }}
						{% if person.twitter_url %}<a href="{{ person.twitter_url }}"><i class="fab fa-twitter" aria-hidden="false"></i></a>{% endif %}
					{% if person.itch_url %}<a href="{{ person.itch_url }}"><i class="fab fa-itch-io" aria-hidden="false"></i></a>{% endif %}
					{% if person.website_url %}<a href="{{ person.website_url }}"><i class="fas fa-home" aria-hidden="false"></i></a>{% endif %}
					{% if person.other_url %}<a href="{{ person.other_url }}"><i class="fas fa-link" aria-hidden="false"></i></a>{% endif %}
					</p>
					<p class="project__description --small">
						{{ person.bio }}
					</p>
				</div>
			</div>

			{% endfor %}
		</div>
	</section>
	
</div>