// - - - - - - - - - - - - - - - - - -

// Section - Hero

// - - - - - - - - - - - - - - - - - -


.hero {
	position: relative;
	padding: 40px 0 40px;

	.wrap {
		grid-gap: 0;
	}

	.title {
		margin-bottom: 24px;
		max-width: 100%;
	}

	.title h1 {
		margin-top: 60px;
	}

	.title .subtitle {
		margin-bottom: 8px;
	}

	.intro {
		position: relative;
		max-width: 100%;
	}

	.hero__cta {
		position: absolute;
		left: 0;
		bottom: -70px;
	}

	@include mq(tabletp) {
		padding: 40px 0 80px;

		.wrap {
			grid-template-columns: 1fr 1fr;
		}

		.title {
			margin-bottom: 0;
			max-width: none;
		}

		.intro {
			align-self: end;
			margin-bottom: -80px;
			max-width: 100%;
		}

		.hero__cta {
			display: none;
		}
	}
}

.hero__background {
	display: block;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	max-width: 190%;
	display: none;
	background-repeat: x-repeat;

	@include mq(tabletp) {
		display: block;
	}
}

.other-stuff {
	ul li {
		font-size: 18px;
		margin-left: 25px;
	}

	.title h1 {
		margin-bottom: 60px;
	}

	.subtitle {
		margin-top: 40px;
		margin-bottom: 20px;
	}

	a {
		text-decoration: underline;
	}
}