// - - - - - - - - - - - - - - - - - -

// Listing posts

// - - - - - - - - - - - - - - - - - -

.listing {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  padding-bottom: 80px;
}

.project__grid {
  display: grid;
  padding: 0px 60px;
  grid-template-columns: 100%;
  grid-template-rows: auto;

  @include mq(tabletp) 
  {
    grid-template-columns: 48% 48%;
    padding: 0px 30px;
    grid-gap: 4%;
  }


  @include mq(laptop) 
  {
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    padding: 0px 30px;
  }

  @include mq(desktop)
  {
    grid-template-columns: 22% 22% 22% 22%;
    padding: 9px;
    grid-gap: 4%;
  }
  
}

.project__preview {
  position: relative;
  width: 100%;
  padding-bottom: 60px !important;

  @include mq(tabletp) 
  {
    padding-bottom: 15px !important;
  }

  &:not(:last-child) {
    margin-bottom: 15px !important;
  }

  .project__title {
    margin-bottom: 20px !important;
    text-align: center;
    text-transform: none;

    a {

      &:hover {
        color: var(--accent);
      }
    }
  }


  .project__image {
    position: relative;
    padding: 0% 15%;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 100%;

    .owl-stage-outer {
      overflow: visible;
    }
  }

  .owl-dots {
    display: none;
    position: absolute;
    bottom: -50px;
    margin: 8px 0 16px 0;
    

    .owl-dot {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      cursor: pointer;
      background-color: white;
      @include transition(all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0s);
      outline: none;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: $border-color;
        border-radius: 8px;
        @include transition(all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0s);
      }

      &.active {
        width: 48px;

        &:after {
          background: var(--accent);
        }
      }
    }
  }

  @include mq(tabletl) {

    .project__images:hover {

      .owl-nav {
        opacity: 1;
      }
    }
  }

  .owl-nav {

    @include mq(tabletl) {
      display: block;
      opacity: 0;
      @include transition(all 0.2s ease-in-out);
    }

    button {
      position: absolute;
      top: 0;
      bottom: 0;
      border: 0;
      background: 0;
      width: 50px;

      &.owl-prev {
        left: 0;
      }

      &.owl-next {
        right: 0;
      }

      @media only screen and (min-width: 1320px) {
        width: calc((100vw - 1140px) / 2);

        &.owl-prev {
          left: auto;
          right: 100%;

          svg {
            margin-left: -10px;
          }
        }

        &.owl-next {
          right: auto;
          left: 100%;

          svg {
            margin-left: 10px;
          }
        }
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);
        width: 30px;
        height: 48px;
        fill: $background-color;
        opacity: 0.5;
        @include transition(all 0.2s ease-in-out);
      }

      &:focus {
        outline: none;
      }

      &.disabled {

        svg {
          opacity: 0 !important;
        }
      }

      &:hover {

        svg {
          opacity: 1;
        }
      }
    }
  }

  .project__content {
    padding-bottom: 20px;
    //border-bottom: 4px solid $text-dark-color; ** THIS IS THE UNDERLINE UNDER THE PEOPLE **
    grid-gap: 0;
  }

  .project__subtitle,
  .project__description {
    max-width: 456px;
  }

  .project__subtitle {
    margin-bottom: 5px;
  }

  .project__content .project__subtitle {
    font-style: normal;
    font-weight: bold;
    color: $accent-color;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;

    a {
      color: black;
      font-size: 1em;
      padding: 0px 5px;
      text-align: right;
      opacity: 0.75;
    }

    a:hover {
      color: $light-accent-color;
      opacity: 1;
    }
  }

  .project__content .project__description {
    text-align: left;
  }


  .project__link {
    display: block;
    margin-top: 24px;
  }

  .pagination {
    margin: 20px 0;
    text-align: center;

    .pagination__prev {
      margin-right: 32px;
    }
  }

  @include mq(tabletp) {
    &:not(:last-child) {
      margin-bottom: 120px;
    }

    .owl-dots {
      margin: 8px 0 16px 0;
    }

    .project__image {
      width: 100%;
    }

    .project__title {
      margin-bottom: 48px;
    }

    .project__content {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      padding-bottom: 15px;
    }
  }
}
